# Global code owners (applies to the whole repo)
* @malibora @jadnov @elijah-k-nebius @rdjjke @asteny @cyril-k @aaroniscode @pbutler @dasbatta

.github/workflows @malibora @d3vil-st @elijah-k-nebius @jadnov @aaroniscode @dasbatta

.github/workflows/soperator* @dstaroff @asteny @rdjjke @Uburro @itechdima @theyoprst @ChessProfessor @ali-sattari
soperator/ @dstaroff @asteny @rdjjke @Uburro @itechdima @theyoprst @ChessProfessor @ali-sattari

# k8s-inference (the inference solution; the line is written by its sync, see .github/workflows/k8s-inference.yml)
k8s-inference/ @rene-tech
.github/workflows/k8s-inference.yml @rene-tech
