AWS_ACCESS_KEY_ID="<NEBIUS KEY ID>"
AWS_SECRET_ACCESS_KEY="<NEBIUS SECREY KEY>"
AWS_REGION="eu-west2"
AWS_ENDPOINT_URL="https://storage.${AWS_REGION}.nebius.cloud:443"
OBJ_BUCKET_URL="s3://<BUCKET_NAME>/experiments/"
